.contact__container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr); */
    /* justify-content: center; */
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1.5rem;
}

.contact__info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.contact__card {
    display: flex;
    width: 100%;
    color: white;
    text-align: center;
    background-color: var(--container-color);
    border-radius: .5rem;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    font-size: 15px;
    padding: .5rem 1rem;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}

.contact__form-group {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.contact__form-div {
    position: relative;
    margin-bottom: 1.5rem;
    height: 4rem;
    width: 100%;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border);
    background: none;
    color: var(--text-color);
    border-radius: .75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 2;
}

.contact__form-area {
    height: 10rem;
}

.contact__form-area textarea {
    resize: none;
}

.btn-contact {
    border-radius: .75rem !important;
}

@media screen and (max-width: 992px) {
    .contact__container {
        column-gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .contact__container {
        grid-template-columns: 1fr;
    }

    .contact__info {
        justify-content: center;
    }

    .contact__form {
        max-resolution: 0 auto;
    }

    .btn-contact {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .contact__title {
        text-align: center;
    }

    .contact__info {
        flex-direction: column;
    }

    .contact__form-group {
        flex-direction: column;
        gap: 0;
    }

    .contact__form {
        width: 100%;
    }
}