.speed__wrapper {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    gap: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    /* my-6 flex items-end justify-center space-x-6 text-[10px] text-neutral-600 dark:text-neutral-300 md:space-x-10 md:text-sm */
}

.speed__indicator h3 {
    font-weight: 400;
    white-space: nowrap;
    font-size: var(--small-font-size);
}

.speed__indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;

}

.speed__progress {
    width: 5rem;
}

.loading__speed-category {
    width: 5.15rem;
    background: var(--loader-color);
    height: .75rem;
    margin: 6px 0;
    /* border: var(--borde); */
    border-radius: 5px;
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

.loading__circle-wrapper {
    height: 5rem;
    width: 5rem;
}

.loading__circle {
    width: 100%;
    height: 100%;
    /* background: #d7d7d7; */
    border-radius: 50%;
    border: .5rem solid var(--loader-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: var(--loader-color);
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:767px) {

    .speed__progress,
    .loading__circle-wrapper {
        width: 4rem;
        height: 4rem;
    }

    .loading__speed-category {
        width: 5rem;
    }
}

@media screen and (max-width:1024px) {}