.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    justify-self: center;
    transition: .3 ease-out;
}

.about__info {
    grid-template-columns: repeat(3,140px);
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.about__box {
    background-color: var(--container-color);
    border: var(--border);
    border-radius: .75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: .5rem;
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);

}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about_descriprion {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 0rem;
    }
    .about__img{
        width: 420px;
    }
    .about__box{
        padding: .75rem .5rem;
    }
    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }
    .about_descriprion{
        padding: .5rem;
    }
}

@media screen and (max-width: 768px) {
    .about__info{
        grid-template-columns: repeat(3,1fr);
    }
    
    .about_descriprion{
        padding: 0;
    }
    .about__container {
        row-gap: 0;
    }
}
@media screen and (max-width: 576px) {
    .about__img{
        width: 220px;
    }
}
