:root {

    /* ====== Colors ====== */
    /* color mode using HSL (Hue,Saturation, Lightnesss) */
    --first-color: hsl(20deg 93.67% 56.67%);
    --title-color: hsl(244, 24%, 26%);
    --text-color: hsl(244, 16%, 43%);
    --text-secondary: hsl(244, 16%, 58%);
    --body-color: hsl(253, 60%, 98%);
    --loader-color: #d7d7d7;
    --container-color: hsl(0, 0%, 100%);

    /* ====== Font and Typography ====== */
    /* .5rem 8px | 1rem = 16px  ...*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /* ====== Font Weight ====== */
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* ====== Box Shadow ====== */
    --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

    /* ====== Border Radius ====== */
    --border-radius: 20px;

    /* ====== Border ====== */
    --border: 1px solid #e7e7e7;

    /* ====== Dots bg ====== */
    --dots: url('../assets/dots-light.svg');

}

[data-theme='dark'] {
    --body-color: hsl(216, 18.07%, 16.27%);
    --container-color: hsl(218.57, 12.5%, 21.96%);
    --first-color: hsl(24.91deg 95.5% 56.47%);
    --title-color: hsl(222.86deg 14.89% 90.78%);
    --text-color: hsl(0deg 0% 63.92%);
    --text-secondary: hsla(0, 0%, 59%);
    --loader-color: #d7d7d720;
    --border: 1px solid hsl(217.5, 11.43%, 27.45%);
    --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    --dots: url('../assets/dots-dark.svg');
}

[data-theme] {
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
}