@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(94, 92, 127);
  --background-color: rgb(248, 247, 253);
  --container-color: rgb(255, 255, 255);
  --primary-color: rgb(255, 107, 77);
  --title-color: rgb(53, 50, 82);
  --text-color: rgb(94, 92, 127);
  --text-secondary: rgb(133, 131, 165);
  --stroke-color: #e7e7e7;
}

.dark {
  --foreground-color: rgb(159, 159, 159);
  --background-color: rgb(34, 40, 49);
  --container-color: rgb(49, 54, 63);
  --primary-color: rgb(253, 123, 97);
  --title-color: rgb(1, 2, 6);
  --text-color: rgb(163, 163, 163);
  --text-secondary: rgb(150, 150, 150);
  --stroke-color: rgb(62, 68, 78);

}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}