.skills__container {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.skill__item img {
    width: 1.5rem;
}

.skill__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--normal-font-size);
    gap: .5rem;
    border: var(--border);
    background-color: var(--container-color);
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 14px;
    border: var(--border);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.skill__item:hover {
    scale: 1.05;
}

.skill__item:hover img {}

.scroll {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}
.reverse{
    animation-direction: reverse !important;
}
.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--normal-font-size);
    gap: .5rem;
    margin: 0 5px;
    border: var(--border);
    background-color: var(--container-color);
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 14px;
    border: var(--border);
    font-size: large;
    transition: all .2s ease-out;
}
span i{
    font-size: large;
    display: flex;
    align-self: center;
}
