.aside {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--container-color);
    border: var(--border);
    padding: 1.5rem;
    width: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    z-index: 10;
    transition: .3s ease-in-out;
    z-index: 10;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.75rem;
}

.nav__item {
    text-align: center;
}
.nav__item .active{
    padding: .5rem .75rem;
    background: hsl(22deg 100% 68% / 30%);
    border-radius: .45rem;
    border: 1px solid rgb(255 160 70 / 40%);
}
.nav__link.active {
    color: var(--first-color);
}

.nav__link i{
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    
}
.nav__link:hover i{
    transform: rotate(-5deg);
    color: var(--first-color);
    scale: 1.05;
}
.nav__link {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: var(--font-bold);
    display: flex;
    align-items: center;
    height: 100%;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}
.sidebar__toggle{
    border-radius: 5px;
    position: fixed;
    top: 1.25rem;
    left:-45px;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--container-color);
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .2s ease-in-out;
}
@media screen and (max-width: 1024px){
    .aside{
        left: -80px;
    }
    .sidebar__toggle{
        display: flex;
        left:  1.875rem !important;
    }
    .sidebar__toggle-open{
        left: 100px !important;
    }
    .show-menu{
        left: 0;
    }
    .nav__link:hover i {
        transform: none !important; 
        scale: 1 !important; 
    }
    .aside.show-menu~main{
        margin-left: 80px !important;
    }
}