/*  Google font  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*  Boxicons font  */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
/* ============ VARIABLE CSS ============ */
:root {

    /* ====== Colors ====== */
    /* color mode using HSL (Hue,Saturation, Lightnesss) */
    --first-color: hsl(353deg 81.14% 51.85%);
    --title-color: hsl(244, 24%, 26%);
    --text-color: hsl(244, 16%, 43%);
    --body-color: hsl(253, 60%, 98%);
    --container-color: hsl(0, 0%, 100%);

    /* ====== Font and Typography ====== */
    /* .5rem 8px | 1rem = 16px  ...*/
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /* ====== Font Weight ====== */
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* ====== Box Shadow ====== */
    --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

    /* ====== Border Radius ====== */
    --border-radius: 20px;

    /* ====== Border ====== */
    --border: 1px solid #e7e7e7;

    /* ====== Dots bg ====== */
    --dots: url('./assets/dots-light.svg');

}

[data-theme='dark'] {
    --body-color: hsl(216, 18.07%, 16.27%);
    --container-color: hsl(218.57, 12.5%, 21.96%);
    --first-color: hsl(353deg 48.52% 53.16%);
    --title-color: hsl(222.86deg 14.89% 90.78%);
    --text-color: hsl(0deg 0% 63.92%);
    --border: 1px solid hsl(217.5, 11.43%, 27.45%);
    --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    --dots: url('./assets/dots-dark.svg');
}

[data-theme] {
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
}

@media screen and (max-width: 1024px) {
    :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* ================== Base ============ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

body {
    background-color: var(--body-color);
    line-height: 1.7;
    color: var(--text-color);
}

h1,
h2 {
    columns: var(--text-color);
    font-weight: var(--font-semibold);
    line-height: 1.2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* ================== Reusable CSS Class ============ */

.container {
    max-width: 1080px;
    padding: 15px 0;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding-right: .6rem;
    padding-left: .6rem;
    padding-top: 7rem;
    padding-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.header__container .section__title {
    margin-bottom: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: .5rem;
    margin-bottom: 3.75rem;

}

.see-more {
    margin-top: .25rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: .25rem;
    transition: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.see-more:hover {
    gap: .75rem;
}

.section__title__wrapper {
    display: flex;
}

.section__title {
    width: fit-content;
    position: relative;
    font-size: var(--h1-font-size);
    margin-left: 0.875rem;
    position: relative;
    font-weight: var(--font-bold);
    margin-bottom: 2.5rem;

}

.section__title::before {
    content: '';
    background: var(--dots);
    height: 2.25rem;
    width: 2.25rem;
    position: absolute;
    left: -0.875rem;
    top: -0.875rem;
    z-index: -1;

}

.btn {
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: 1.875rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    background-color: var(--first-color);
    font-weight: var(--font-bold);
}
.btn__flex {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    gap: .5rem;
    width: fit-content;
    align-items: center;
}

@keyframes button-push {
    50% {
        transform: scale(0.9);
    }

    100% {
        scale: 1;
    }
}

.btn:hover {
    animation: button-push 0.3s linear 1;
}
.toggle{
    border-radius: 5px;
    position: fixed;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--container-color);
    color: var(--text-color);
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .2s ease-in-out;
}
.toggle:hover{
    background-color: var(--body-color);
}
.theme__toggle{
    top: 1.25rem;
    right: 1.875rem;
}
.scrollup__toggle{
    bottom: -20%;
    right: 1.875rem;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}
.show-scroll{
    bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
    .section__title {
        text-align: center;
    }

    .section__title__wrapper {
        justify-content: center;
    }
}