.dashboard__letcode{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.leetcode__item{
    background-color: var(--container-color);
    border: var(--border);
    border-radius: 10px;
    padding: .75rem 1rem;
    display: grid;
}