
.invisible{
visibility: hidden;
}
.calendar-month{
    display: flex;
    justify-content: space-between;
    gap: 3px;
    font-size: small;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}
.calendar-grid{
    display: flex;
    gap: 3px;
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

.calendar-day{
    height: 15px;
    width: 15px;
    display: block;
    border-radius: .25rem;
    background-color: var(--day-color);
    margin: 7px 0;
}
.calendar-contribution{
    display: flex;
    gap: .25rem;
}

.calendar-info{
    display: flex;
    align-items: center;
    /* justify-content ; */
    gap: .5rem;
}

.detail-contribution {
    background: var(--container-color);
    padding: 0.05rem 0.5rem; /* Corrected padding syntax */
    border-radius: 6px;
    border: var(--border);
    transition: all .3s ease-in-out;
    opacity: 0; /* Set initial opacity to 0 for hiding */
}
.opacity-0{
    transition: all .3s ease-in-out;
    opacity: 0;
}
.opacity-100{
    transition: all .3s ease-in-out;
    opacity: 100;
}
.calendar-footer{
    display: flex;
    row-gap: .5rem;
    justify-content: space-between;
    margin-top: 0.25rem;
    align-items: center;
}
@media screen and (max-width: 767px){
.calendar-footer{
    flex-direction: column;
}
}
.count{
    color: rgb(22 163 74);
}