.dashboard__cards{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 1.5rem;
    gap: .5rem;
}
.gt-6{
    grid-template-columns: repeat(6,1fr) !important;
}
.card__item{
    background-color: var(--container-color);
    border: var(--border);
    border-radius: 10px;
    padding: .75rem 1rem;
    display: grid;
}
.card__title{
    line-height: 1.25rem;
    white-space: nowrap;
    font-size: var(--small-font-size);

}
.card__number{
    color: rgb(22 163 74);
    font-size: var(--h2-font-size);
    line-height: 1.75rem;
}
.card__unit{
    font-size: var(--small-font-size);
}
@media screen and (max-width: 767px){
    .dashboard__cards{
        grid-template-columns: repeat(2,1fr);
    }   
}