.loading__speed-category {
    width: 5.15rem;
    background: var(--loader-color);
    height: .75rem;
    margin: 6px 0;
    /* border: var(--borde); */
    border-radius: 5px;
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

.loading__circle-wrapper {
    height: 5rem;
    width: 5rem;
}

.loading__circle {
    width: 100%;
    height: 100%;
    /* background: #d7d7d7; */
    border-radius: 50%;
    border: .5rem solid var(--loader-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: var(--loader-color);
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:767px) {

    .speed__progress,
    .loading__circle-wrapper {
        width: 4rem;
        height: 4rem;
    }

    .loading__speed-category {
        width: 5rem;
    }
}