.blog__container{
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    flex-direction: row;
    gap: 1.875rem;
}

.blog__card{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    min-width: 280px;
    border: var(--border);
    background-color: var(--container-color);
}
.blog__card-more{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--container-color);
}
.blog__thumb{
    position: relative;
    overflow: hidden;
}
.blog__img{
    transform: scale(1);
    transition: .3s ease-in-out;
}
.blog__thumb:hover .blog__img{
    transform: scale(1.1);
}
.blog__details{
    background-color: var(--container-color);
    padding: 1.25rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.blog__title{
    font-size: var(--h3-font-size);
    line-height: 1.2;
    margin-bottom: .5rem;
}
.blog__meta{
    display: flex;
    color: #8b88b1;
    font-size: var(--small-font-size);
}

@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){
    
    
}
@media screen and (max-width: 576px){
    .blog__container{
        gap: 1.25rem;
    }
    
}